@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #171717;
  color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

p {
  color: #d4d4d4;
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
}


.stroke-title {
  text-shadow:
   -1px -1px 0 #f5f5f5,  
    1px -1px 0 #f5f5f5,
    -1px 1px 0 #f5f5f5,
     1px 1px 0 #f5f5f5;
}

.stroke-menu {
  text-shadow:
   -0.8px -0.8px 0 #f5f5f5,  
    0.8px -0.8px 0 #f5f5f5,
    -0.8px 0.8px 0 #f5f5f5,
     0.8px 0.8px 0 #f5f5f5;
}